/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el fondo y la imagen de fondo semitransparente */
body.prod1 {
    background-image: url('.jpg');
    background-size: 5%;
    text-align: center; 

}

body.prod2 {
    background-image: url('.jpg');
    background-size: 5%;
    text-align: center; 

}

body.prod3 {
    background-image: url('.jpg');
    background-size: 5%;
    text-align: center; 

}

.content{
    background-color: rgb(255, 255, 255);
    text-align: center; 
    background-image: url(fondo.jpg);

}

h1{
    background-color:green;
    color:white;
}


.container{
    text-align: center;
}
.buttoncami {
    display: block;
    margin-bottom: 30px;
    padding: 5;
    margin: 5;
}
