/* Reset de estilos para asegurar consistencia */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos básicos para el cuerpo y el contenedor principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chat-container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

/* Estilos para la lista de usuarios conectados */
#user-list {
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

#user-list div {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

/* Estilos para los mensajes */
#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

#messages div {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}

/* Estilos para el indicador de escritura */
#typing {
    padding: 10px;
    border-radius: 8px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
}

/* Estilos para el formulario de chat */
#chat-form {
    display: flex;
}

#chat-form input[type="text"],
#chat-form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

#chat-form input[type="text"] {
    flex-grow: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #ccc;
}

#chat-form button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#chat-form button:hover {
    background-color: #45a049;
}
